*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background{
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



.form{
    width: 98vw;
    height: 98vh;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10vw;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 10px;
}

form div{
    display: flex;
    flex-direction: row;
    padding: 15px 5px;
}

form input{
    width: 400px;
    height: 36px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(235, 232, 232);
    border-radius: 10px;
    padding: 7px;
}

form .undo{
    margin-right: 40px;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: rgb(248, 248, 248);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

form .add{
    margin-left: 40px;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: rgb(248, 248, 248);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}


form .buttons button{
    width:130px ;
    height: 30px;
    margin-top: 40px;
    cursor: pointer;
}

form div label{
    font-size: 20px;
    width: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.remove{
    display: none !important ;
}

#main_add_box{
    width: 98vw;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#tasks_perc_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#tasks_perc_main span{
    border: 10px solid black;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 5px;
}
#full_time{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#full_time span{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#full_date{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#full_date span{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#main_box_parent{
    width: 98vw;
    height: 80vh;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: none;
}

.main_box {
    width: 98vw;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    
}
[class*="whole"]{

    width: 98vw;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

[class*="task"]{
    width: 350px;
    height: 60px;
    border: 1px solid black;
    margin-right: 10px;
    overflow: scroll;
    

}

[class*="date"]{
    width: 150px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px 2px;
    text-transform: capitalize;
    margin-right: 10px;
}

[class*="time"]{
    width: 150px;
    border: 1px solid black;
    border-radius: 2px ;
    padding: 5px 2px;
    text-transform: capitalize;
    margin-right: 10px;
}

span [class*="com"]{
    margin-left: 10px;
    width: 10vw;
    height: 30px;
    border-radius: 2px solid black;
    border: 1px solid black;
    cursor: pointer;
}

span [class*="del"]{
    width: 10vw;
    height: 30px;
    border-radius: 2px solid black;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 10px;
}

span [class*="edit"]{
    width: 10vw;
    height: 30px;
    border-radius: 2px solid black;
    border: 1px solid black;
    cursor: pointer;
    margin-left: 10px;
}

#button_add{
    width: 130px;
    height: 30px;
    border-radius: 1px solid black;
    padding: 5px 2px;
    text-transform: capitalize;
    margin-right: 50px;
    cursor: pointer;
}

#button_re_all{
    width: 150px;
    height: 30px;
    border-radius: 1px solid black;
    padding: 5px 2px;
    text-transform: capitalize;
    margin-right: 50px;
    cursor: pointer;
}



